<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelpopayan">

    <application
        android:allowBackup="true"
        android:label="Hotel Popayán"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- SPLASH (PRINCIPAL) -->
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- LOGIN -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".login.RegisterActivity"
            android:exported="false"/>

        <!-- HOME -->
        <activity
            android:name=".home.MainActivity"
            android:exported="false"/>

    </application>

</manifest>